@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    background-color: rgb(3, 3, 184);
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top:30px;
}
.container .title h1{
    text-align: center;
    font-family: 'Press Start 2P', Fantasy;
    color: rgba(243, 243, 22, 0.918);
}
.top{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px;
}
.bottom{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px;
}
.btn{
    width:200px;
    height: 200px;
    border-radius: 20px;
    border: 8px solid black;
}
.green{
    background-color: green;
    margin-right: 20px;
}
.blue{
    background-color: blue;
}
.red{
    background-color: red;
}
.yellow{

    background-color: yellow;
    margin-right: 20px;
}
.press{
    background-color: rgb(194, 188, 188);
    box-shadow: 5px 5px 5px white;
}